type conn_launcher_exec, exec_type, file_type;
type conn_launcher, domain;

init_daemon_domain(conn_launcher);

allow conn_launcher stpwmt_device:chr_file rw_file_perms;

r_dir_file(conn_launcher, firmware_file)
set_prop(conn_launcher, wmt_prop)
