type wmt_loader_exec, exec_type, file_type;
type wmt_loader, domain;

init_daemon_domain(wmt_loader)

allow wmt_loader wmtdetect_device:chr_file create_file_perms;
allow wmt_loader self:capability { chown dac_override };
allow wmt_loader proc_wmt:file create_file_perms;

r_dir_file(wmt_loader, firmware_file)
set_prop(wmt_loader, wmt_prop)
